*.iml
.gradle
.gradle-user-home
.gradle-user-home-short
/local.properties
/.idea
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.kotlin
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
Nexus Service Desk/
.codex/
